@import "tailwindcss";

:root {
  --primary: #0ea5e9;      /* sky blue */
  --secondary: #f97316;    /* orange */
  --accent: #22c55e;       /* green */
  --dark: #0f172a;         /* navy */
}

body {
  @apply bg-slate-50 text-slate-800;
}